<launch>
	<arg name="paused" default="false"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="gui" value="true"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>

  <include file="$(find kuka_gazebo)/kuka_kr6_r900sixx/launch/gazebo_load_joint_position_control.xml"/>

  <node name="kr6r900sixx_loader" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model kuka_kr6r900sixx" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
  output="screen">
  </node>

  <include file="$(find kuka_gazebo)/kuka_kr6_r900sixx/launch/joint_position_effort_control.xml"/>

</launch>
